{% extends "index.html" %}

{% block content %}
    <section class="welcome">
        <h2>안녕하세요, <span class="nickname">seller_nickname</span> 님</h2>
        <p>제품을 판매할 준비가 되셨나요? 성공적인 하루를 기원합니다!</p>
    </section>

    <section class="recent-sales">
        <h3>Recent Sales</h3>
        <div class="product-list">
            <div class="product">
                <img src="../static/images/badge.png" alt="badge"> 
                강아지 뱃지
            </div>
            <div class="product">
                <img src="../static/images/bunny.png" alt="bunny doll">
                토끼 인형
            </div>
            <div class="product">
                <img src="../static/images/keyring.png" alt="keyring">
                키링
            </div>
            <div class="product">
                <img src="../static/images/note.png" alt="note">
                노트
            </div>
            <div class="product">
                <img src="../static/images/tok.png" alt="Ewha">
                그립톡
            </div>
        </div>
    </section>
{% endblock content %}

