<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ewha Market</title>
  <link rel="stylesheet" href="../static/indexStyle.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/">Ewha Market</a>
    </div>
    <ul class="navbar__menu">
      <li><a href="/home">Browse</a></li>
      <li><a href="/productList">Post Reviews</a></li>
      <li><a href="/mypage">My page</a></li>
    </ul>
    <div class="navbar__user">
      <span class="user__role buyer">buyer</span>
      <span class="user__nickname">buyer_nickname</span>
      <div class="user__avatar"></div>
    </div>
  </nav>
</body>
</html>